{% extends 'login-base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first login-logo">
                <img src="{{ asset("img/logo.png") }}" id="icon" alt="User Icon"/>
                <h1 class="login-title">Sorties entr'ENI</h1>
            </div>

            <!-- Login Form -->
            <form method="post">
                <h4 class="login-title" id="myModalLabel">Réinitialisation du mot de passe sur l'adresse e-mail associée</h4>
                <input autofocus type="text"  id="inputEmail"
                       class=" login-input-field lif1" name="email" placeholder="Email" required>
                <div class="checkbox mb-3 fadeIn fourth">
                    <input type="submit" class="fadeIn fourth" value="Valider">
                </div>
            </form>
        </div>
    </div>

    <footer class="login-footer">
        <img src="{{ asset('img/clouds-footer.png') }}">
    </footer>


{% endblock %}
