{% extends 'pages-base.html.twig' %}

{% block title %}Enregistrer utilisateur{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="msg-alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="register-container">
        <h1 class="page-h1 register-h1">Enregistrer utilisateur</h1>

        <div class="register-form">
            {{ form(form) }}
        </div>
    </div>

    <div class="popup-photo">

    </div>


{% endblock %}
