<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation Mot de passe</title>
</head>
<body>
<div>
    <h2 style="color:#253f58; font-size: 25px;">Sorties entr'ENI - Réinitialisation du mot de passe</h2>
    <p style="font-size: 15px;">
        <strong style="color: #d92139; font-size: 15px;">
            {{user.userName}}</strong>
        Vous avez oublié votre mot de passe. Veuillez cliquer sur ce lien pour le réinitialiser:</p>
    <p style="font-size: 15px;">
        <input type="submit" href="{{ url }}" class="btn-base btn-red btn-pfl-mini" value="Sorties entr'ENI">
        <!--<a href="{{ url }}">Sorties entr'ENI</a>-->
    </p>
    <p style="font-size: 15px;">L'Equipe de developpement.
        <br/>
        Enjoy !
    </p>
</div>
</body>
</html>