{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}



        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}


            <a href="{{ path('app_login') }}">Co</a>



        <a href="{{ path('app_logout') }}">Deco</a>

{% endblock %}
