{% extends 'base.html.twig' %}

{% block title %}Sorties entr'Eni{% endblock %}

{% block body %}

<section class="section-filtre">
    <div>
        <form method="get">
            <div class="bf-1">
                <label for="site">Site</label>
                <select name="site" id="site">
{#                    {% for site in sites %}#}
{#                        <option value="{{ site.id}}"> {{ site.nomSite }}</option>#}
{#                    {% endfor %}#}
                </select>

            </div>
            <div class="bf-2">
                <label for="nom">Le nom contient</label>
                <input type="search" name="nom" id="nom">
            </div>
            <div class="bf-3">
                <label for="date-debut">Entre le</label>
                <input type="date" name="date-debut" id="date-debut">
            </div>
            <div class="bf-4">
                <label for="date-fin">Et le</label>
                <input type="date" name="date-fin" id="date-fin">
            </div>
            <div class="bf-checkboxes">
                <div class="check">
                   <input type="checkbox" name="filtre1" value="filtre1">
                   <label for="filtre1">Sorties dont je suis l'organisateur/rice</label>
                </div>

                <div class="check">
                    <input type="checkbox" name="filtre2" value="filtre2">
                    <label for="filtre2">Sorties auxquelles je suis inscrit.e</label>
                </div>

                <div class="check">
                    <input type="checkbox" name="filtre3" value="filtre3">
                    <label for="filtre3">Sorties auxquelles je ne suis pas inscrit.e</label>
                </div>

                <div class="check">
                    <input type="checkbox" name="filtre4" value="filtre4">
                    <label for="filtre4">Sorties passées</label>
                </div>
            </div>
            <div>
                <input type="submit" value="Rechercher">
            </div>

        </form>
    </div>

</section>

{% endblock %}
