{% extends 'base.html.twig' %}

{% block title %}Registration !{% endblock %}

{% block body %}
    <h1>Registration !</h1>

    <div class="row">
        <div class="offset-4 col-4">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
