/*************** RESET ***************/
*{
    margin:0;
    padding:0;
}

body, html{
    font-family: 'Nunito', sans-serif;
    background:#8fb5db;
}

a{
    text-decoration:none;
}

li{
    list-style-type:none;
}

.clear {
    clear: both;
}

/*************** HEADER ***************/
.full-page{
    width:100%;
    display:inline-block;
    text-align:center;
    padding-top:1.5em;
    background: rgb(138,201,255);
    background: linear-gradient(180deg, rgba(138,201,255,1) 0%, rgba(218,244,255,1) 100%);
}

.nav-header, .logo-header, .logo-img, .site-title, .nav-menu, .nav-menu li{
    display: inline-block;
}
/** bloc navigation**/
.nav-header{
    width:88%;
}

/** logo **/
.logo-header{
    float:left;
}

.site-title{
    vertical-align: top;
    color: #fff;
    letter-spacing: 1px;
    padding: 1.1em 0 0 0.2em;
    font-size: 1.5em;
    text-shadow: 1px 1px 7px rgba(40,104,134,0.37);
}

/** menu **/
.nav-menu{
    float:right;
    padding-top: 1.9em;
}

.nav-menu li{
    margin-left:3em;
}

.nav-menu li a{
    color:#fff;
    font-size:1.1em;
    font-weight: 600;
    letter-spacing:1px;
    text-shadow: 1px 1px 5px rgba(40,104,134,0.25);
}

/*************** HOME PAGE ***************/
.section-filtre{
    display:inline-block;
    width:100%;
}

.container{
    width:50em;
    margin:0 auto;
}

/** left field bloc **/
.filtre-bloc-left{
    text-align: left;
    width: 33em;
}

.bf-1, .bf-3{
    float: left;
}

.bf-2, .bf-4{
    float: right;
}

.bf-checkboxes{
    width:100%;
    background:#fff;
    border-radius:3px;
}

/** lignes filtres **/
.filtre-ligne-2{
    margin-top:1.8em;
}

/** input fields**/
.bloc-field{
    display: inline-block;
    text-align: left;
}

.bloc-field label{
    display:block;
    color:#fff;
    margin-bottom: 0.4em;
    text-shadow: 1px 1px 5px rgba(40,104,134,0.25);
}

.input-home{
    display:block;
    width: 18em;
    height: 3em;
    /*margin-right: 2.8em;*/
    border: none;
    border-radius: 3px;
    box-shadow: 2px -2px 28px -4px rgba(40,104,134,0.2);
    color:#718293;
    font-family: 'Nunito', sans-serif;
}

/** Background image section 1 **/
.background-img{
    width:100%;
}

.background-img img{
    width:100%;
    vertical-align: bottom;
}




















