/*************** RESET ***************/
*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Nunito', sans-serif !important;
    background: linear-gradient(180deg, rgba(138,201,255,1) 0%, rgba(218,244,255,1) 100%);
    height:100%;
}

html{
    background:#fff;
}

a{
    text-decoration:none !important;
}

li{
    list-style-type:none !important;
}

p{
    margin:0 !important;
}

.clear {
    clear: both;
}

.page-section{
    width:100%;
    /*height:85%;*/
    position: relative;
    display:inline-block;
    text-align:center;
    padding-top:1.5em;
}

/************ MENU DESKTOP *********/
.nav-header, .logo-header, .logo-img, .site-title, .nav-menu, .nav-menu li{
    display: inline-block;
}

.nav-header{
    width:88%;
    margin-bottom:2em;
}

/** logo **/
.logo-header{
    float:left;
}

.logo-header a{
    text-decoration:none !important;
}

.site-title{
    vertical-align: top;
    color: #fff;
    letter-spacing: 1px;
    padding: 1.1em 0 0 0.2em;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 7px rgba(40,104,134,0.37);
}

/** menu **/
.nav-menu{
    float:right;
    padding-top: 1.9em;
}

.nav-menu li{
    margin-left:3em;
}

.nav-menu li a{
    color:#fff;
    font-size:1.1em;
    font-weight: 600;
    letter-spacing:1px;
    text-shadow: 1px 1px 5px rgba(40,104,134,0.25);
}

/************ BURGER MENU *********/
.burger-menu{
    display:none;
    color:#fff;
    height:50px;
    position: absolute;
    width: 100%;
    z-index: 100;
    text-align:left;
}

/** logo **/
.logo-burger-menu{
    padding-left:1.5em;
}

.burger-logo{
    display:inline-block;
    height: 2.6em;
    margin-top: 0.3em;
}

.burger-img{
    height:100%;
}

.burger-title{
    display:inline-block;
    vertical-align: top;
    color: #fff;
    letter-spacing: 1px;
    padding: 0.6em 0 0 0.2em;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 7px rgba(40,104,134,0.37);
}

.burger-menu nav{
    background:inherit;
    background-color:#91cdff;
    font-size:20px;
    font-weight:bold;
    height:0;
    overflow:hidden;
    transition:height .2s;
    padding: 0 0 0 2.2em;
}

.burger-menu nav > *{
    display:block;
    letter-spacing:1px;
    line-height:2.5;
    padding:0 20px;
    width: 100%;
}

.nav-li-1{
    margin-top:1em;
}

.burger-menu nav input{
    background:rgba(0,0,0,.2);
    border:none;
    color:#fff;
}

.nav-burger a{
    color:#fff;
}

.nav-burger a:hover{
    color:#687786;
}

.burger-menu .burger{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    color:inherit;
    cursor:pointer;
    font-family:'Material Icons';
    font-size:30px;
    line-height:50px;
    margin:0;
    outline:0;
    padding:0;
    position:absolute;
    text-align:center;
    top:0;
    right:10px;
    width:50px;
}

.burger-menu .burger:before{
    content:'menu';
}

.burger-menu .burger:checked:before{
    content:'close';
}

.burger-menu .burger:checked + nav{
    height:calc(100vh - 50px);
}


/*************** CONTENU COMMUN ****************/
/** messages d'alerte **/
.msg-alert{
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 1em;
    letter-spacing: 1px;
    background-color:inherit !important;
    border-color:inherit !important;
    font-family: 'Nunito', sans-serif !important;
}

/** titres **/
.page-h1{
    color:#687786;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 1.2em;
}

/** buttons par défaut **/
.btn-base{
    border:none;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    border-radius: 5px;
    text-transform:uppercase;
    padding:0.8em 0 0.8em 0;
    width:10.5em;
    box-shadow: 2px -2px 28px -4px rgba(40,104,134,0.2);
    cursor:pointer;
}

.btn-blue{
    background:#8fb5db;
}

.btn-red{
    background:#ff7083;
}

/*************** FOOTER ****************/
.page-footer{
    width:100%;
    height:10em;
    text-align: right;
    padding:0 4% 0 0;

    background-image: url("../img/clouds-footer.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.pg-footer-wrap{
    width:41.5em;
    margin-top:6.5em;
    display:inline-block;
    padding-bottom: 1em;
}

.copyright{
    float:left;
    display: inline-block;
    margin-top:2em;
    font-size: 1.3em;
    font-weight: bold;
    color: #687786;
}

.copyright-2{
    display:none;
}

.rs-icon{
    float: right;
    display:inline-block;
    text-align:right;
}

.rs-logo{
    display:inline-block;
    margin:0 0.5em 0 0.5em;
}

.rs-logo a img{
    filter: drop-shadow(1px 0px 5px #83b3ca);
}

/*************** MEDIA QUERIES ****************/
@media screen and (max-width: 1200px){
    .nav-header{
        display:none;
    }

    .burger-menu{
        display:block;
    }

    .page-section{
        padding-top:0;
    }

    .page-content{
        padding-top: 5em;
    }
}

@media screen and (max-width: 790px){
    .page-footer{
        padding:0 4% 0 4%;
    }

    .pg-footer-wrap{
        width:100%;
    }
}

@media screen and (max-width: 585px){
    .pg-footer-wrap{
        text-align:center;
        padding-bottom:0;
    }

    .rs-icon{
        float:none;
        text-align: center;
    }

    .copyright{
        display: none;
    }

    .copyright-2{
        display:block;
        text-align:center;
        margin: 2em 0 1em 0;
        font-size: 1em;
        font-weight: bold;
        color: #687786;
    }
}

@media screen and (max-width: 450px){
    .burger-title{
        padding: 0.9em 0 0 0.2em;
        font-size: 1.2em;
    }
}


/****************************** TABLEAU DE TROLL ***************************************/
.table-bordered{
    border:none;
    border-radius: 5px;
}

.table-bordered td, .table-bordered th{
    border:0 !important;
}

#table-sortie_length, #table-sortie_info{
    display:none;
}

.thead-light tr th{
    background:#fff !important;
    color:#687786 !important;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: #fff2da !important;
    color: #687786;
}

.table-striped tbody tr:nth-of-type(even){
    background-color: #fff;
    color: #687786;
}

.page-item.active .page-link{
    background-color: #ff7083 !important;
    border-color: #ff7083 !important;
    color:#fff !important;
}

.page-link{
    color:#687786 !important;
}

.page-link:hover{
    color:#687786 !important;
}

td a{
    color:#687786;
}


td a:hover{
    color:#687786;
    font-weight:600;
    text-decoration:none;
}

.td-avatar{
    width:12em;
}

.troll-img{
    width:8em;
    height:8em;
    overflow:hidden;
    border-radius:50%;
}

.troll-img img{
    width:100%;
}

.td-text{
    font-weight:bold;
    padding-top: 2.5em !important;
    font-size: 1.3em;
}


td a:hover{
    color:#687786;
    font-weight:600;
    text-decoration:none;
}

.td-avatar{
    width:12em;
}

.troll-img{
    width:8em;
    height:8em;
    overflow:hidden;
    border-radius:50%;
}

.troll-img img{
    width:100%;
}

.td-text{
    font-weight:bold;
    padding-top: 2.5em !important;
    font-size: 1.3em;
}







