{#{% extends "base.html.twig" %}#}

{% block body %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit"><p>Envoyer !</p></button>
        {{ form_end(form) }}
    </div>
{% endblock %}