{% extends 'pages-base.html.twig' %}

{% block title %} Modification du Profil{% endblock %}

{% block body %}
    <div class="edit-profil-bloc">
        {{ form_start(userForm) }}

        <!-- bloc photo + buttons -->
        <div class="bloc-profil-left">
            <div class="avtr-prfl-edit">
                <img src="{{ asset('img/avatar.png') }}">
            </div>

            <button class="btn-edt-pfl btn-blue">Upload photo</button>

            <div class="red-action-btn">
                <button class="btn-edt-pfl btn-red" type="reset">Annuler</button>
                <button class="btn-edt-pfl btn-red" type="submit">Enregistrer</button>
            </div>

        </div>

        <!-- bloc title + fields -->
        <div class="bloc-profil-right">
            <h1>Mon Profil</h1>

            {{ form_widget(userForm) }}
        </div>

        {{ form_end(userForm) }}

    </div>


{% endblock %}
