{% extends 'layout.html.twig' %}

{% block title %} Modification du Profil{% endblock %}

{% block body %}
    <div>
        <h1>Gestion Du Profil</h1>
    </div>
    <div>
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <label>Ma photo </label>
        <button class="btn btn-success mt15">Télécharger vers le serveur</button>


        <div class="row col-auto justify-content-end" style="padding-right: 30px ">
        <button class="btn btn-success" style="margin-right: 10px" type="reset">Annuler</button>
        <button class="btn btn-success " type="submit">Modifier</button>
        {{ form_end(userForm) }}
        </div>
    </div>


{% endblock %}
