{% extends 'pages-base.html.twig' %}

{% block title %}Modifier Photo de Profil!{% endblock %}

{% block body %}

    <h2>Modifier ma Photo de Profil</h2>

    {{ form_start(avatarForm) }}
    {{ form_widget(avatarForm) }}
    <button type="submit" id="submit" name="submit">Confirmer</button>
    {{ form_end(avatarForm) }}


{% endblock %}