{% extends 'pages-base.html.twig' %}

{% block title %}Modifier photo de profil{% endblock %}

{% block body %}

    <div class="register-container">
        <h1 class="page-h1">Modifier photo de profil</h1>

        {{ form_start(avatarForm) }}
        {{ form_widget(avatarForm) }}
        <button type="submit" id="submit" name="submit">Confirmer</button>
        {{ form_end(avatarForm) }}

    </div>

{% endblock %}