{#{% extends base.html.twig %}#}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" name="buttonCreerUneSortie" value="1">Enregistrer</button>
    <button type="submit" name="buttonCreerUneSortie" value="3">Publier la sortie</button>
    <button type="reset">Annuler</button>

    {{ form_end(form) }}

{% endblock %}